# Ignore Git metadata and local dependencies
.git
.gitignore
vendor/
node_modules/

# Ignore local build artifacts and temporary files
build/
tmp/

# Ignore local configuration and documentation
.env
*.md
