x-common-env: &common-env
  APP_ENV: "development"
  APP_NAME: "travel-api"
  SERVER_PORT: ${SERVER_PORT}
  DB_HOST: postgres
  DB_PORT: 5432
  DB_USERNAME: ${DB_USERNAME}
  DB_PASSWORD: ${DB_PASSWORD}
  DB_NAME: ${DB_NAME}
  DB_SSLMODE: disable
  DB_TIMEZONE: Asia/Jakarta
  DB_MAX_IDLE_CONNS: ${DB_MAX_IDLE_CONNS:-10}
  DB_MAX_OPEN_CONNS: ${DB_MAX_OPEN_CONNS:-50}
  DB_CONN_MAX_LIFETIME: ${DB_CONN_MAX_LIFETIME:-1h}
  DB_LOG_LEVEL: ${DB_LOG_LEVEL}
  TRACING_ENABLED: ${TRACING_ENABLED}
  TRACING_EXPORTER: ${TRACING_EXPORTER}
  OTEL_EXPORTER_OTLP_ENDPOINT: ${OTEL_EXPORTER_OTLP_ENDPOINT}
  OTEL_EXPORTER_OTLP_INSECURE: ${OTEL_EXPORTER_OTLP_INSECURE}
  OTEL_EXPORTER_OTLP_HEADERS: ${OTEL_EXPORTER_OTLP_HEADERS}

services:
  postgres:
    image: docker.io/library/postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres-volume:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - travel_local_network

  travel-migrator:
    image: localhost/travel-api-migrator
    container_name: travel-migrator
    build:
      context: .
      dockerfile: Dockerfile
      target: migrator
    restart: no
    environment:
      <<: *common-env
    networks:
      - travel_local_network
    depends_on:
      postgres:
        condition: service_healthy
        required: true
        restart: false
    command: ["up"]

  travel-api:
    image: localhost/travel-api-server
    container_name: travel-api
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    restart: always
    environment:
      <<: *common-env
    depends_on:
      travel-migrator:
        condition: service_completed_successfully
        required: true
        restart: false
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    networks:
      - travel_local_network

volumes:
  postgres-volume:

networks:
  travel_local_network:
