name: Go Linter (golangci-lint)

on:
  pull_request:
    branches:
      - "main"

permissions:
  contents: read

env:
  GO_VERSION: '1.25.1'

jobs:
  golangci-lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      # - name: Download Go Modules
      #   run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1
